* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #8dbaff;
    color: #000000;
}
section {
    background-color: #3083ff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(4, 51, 20, 0.993);
}
section h1 {
    color: #ffffff;
    margin-bottom: 10px;
}
h4{
    color: #000000;
    margin-bottom: 10px;
}
footer {
    background-color: #3083ff;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
